@{
    var controllName = ViewContext.RouteData.Values["Controller"].ToString();
    var actionName = ViewContext.RouteData.Values["Action"].ToString();
    }

<ul class="ul_leftmenu">
<li class="menu_level1">用户管理</li>
<li class="menu_level2">
@if ("User".Equals(controllName, StringComparison.OrdinalIgnoreCase) && "MyInfo".Equals(actionName, StringComparison.OrdinalIgnoreCase))
{
    @Html.ActionLink(">我的基本信息", "MyInfo", "User", null, new { @class = "leftmenuselected" })   
}
else
{
    @Html.ActionLink(">我的基本信息", "MyInfo", "User", null, new { @class = "leftmenu" })  
} 
</li>
<li class="menu_level2">
@if ("User".Equals(controllName, StringComparison.OrdinalIgnoreCase) && "New".Equals(actionName, StringComparison.OrdinalIgnoreCase))
{
    @Html.ActionLink(">新增用户", "New", "User", null, new { @class = "leftmenuselected" })  
}
else
{
    @Html.ActionLink(">新增用户", "New", "User", null, new { @class = "leftmenu" })  
} 
</li>
<li class="menu_level2">
@if ("User".Equals(controllName, StringComparison.OrdinalIgnoreCase) && "Manage".Equals(actionName, StringComparison.OrdinalIgnoreCase))
{
    @Html.ActionLink(">管理用户", "Manage", "User", null, new { @class = "leftmenuselected" })  
}
else
{
    @Html.ActionLink(">管理用户", "Manage", "User", null, new { @class = "leftmenu" })      
}  
</li>
<li class="menu_level2">
@if ("User".Equals(controllName, StringComparison.OrdinalIgnoreCase) && "Password".Equals(actionName, StringComparison.OrdinalIgnoreCase))
{
    @Html.ActionLink(">修改密码", "Password", "User", null, new { @class = "leftmenuselected" })  
}
else
{
    @Html.ActionLink(">修改密码", "Password", "User", null, new { @class = "leftmenu" })    
}  
</li>
</ul>


<ul class="ul_leftmenu">
<li class="menu_level1">数据分析</li>
<li class="menu_level2">
@if ("Analysis".Equals(controllName, StringComparison.OrdinalIgnoreCase) && "Index".Equals(actionName, StringComparison.OrdinalIgnoreCase))
{
    @Html.ActionLink(">数据分析", "Index", "Analysis", null, new { @class = "leftmenuselected" })  
}
else
{
    @Html.ActionLink(">数据分析", "Index", "Analysis", null, new { @class = "leftmenu" })      
} 
</li>
</ul>

<ul class="ul_leftmenu">
<li class="menu_level1">监测统计</li>
<li class="menu_level2">
@if ("StatByAccount".Equals(controllName, StringComparison.OrdinalIgnoreCase))
{
    @Html.ActionLink(">按账号统计", "Index", "StatByAccount", null, new { @class = "leftmenuselected" })  
}
else
{
    @Html.ActionLink(">按账号统计", "Index", "StatByAccount", null, new { @class = "leftmenu" }) 
}
</li>

<li class="menu_level2">
@if ("StatByRegion".Equals(controllName, StringComparison.OrdinalIgnoreCase))
{
    @Html.ActionLink(">按地市(区县)统计", "Index", "StatByRegion", null, new { @class = "leftmenuselected" })  
}
else
{
    @Html.ActionLink(">按地市(区县)统计", "Index", "StatByRegion", null, new { @class = "leftmenu" })  
}
</li>
</ul>