@model IPDetectServer.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var strValidationSummary = string.Empty;
    var validationSummary = Html.ValidationSummary("", new { @class = "nolist" });
    if (validationSummary != null)
    {
        strValidationSummary = validationSummary.ToString();
    }
}

@using (@Html.BeginForm())
{
    <ul>
    <li class="content-title">&nbsp;&nbsp;修改密码</li>
    </ul>
     <div class="group-in-a-line-20">
        <div class="same_line" style="width:9px;"></div>
        <div class="same_line" style="width:800px;">@Html.Raw(strValidationSummary)</div>
    </div>
    <div class="group-in-a-line">
        <div class="same_line" style="width:80px;text-align:right;">&nbsp;&nbsp;登录账号：&nbsp;&nbsp;</div>
        <div class="same_line" style="width:160px;">@Model.LoginName</div>
@*        <div class="same_line" style="width:10px;color:Red">*</div>*@
    </div>
    <div class="group-in-a-line">
        <div class="same_line" style="width:80px;text-align:right;">&nbsp;&nbsp;当前密码：&nbsp;&nbsp;</div>
        <div class="same_line" style="width:160px;">@Html.PasswordFor(m => m.Password, new { @maxlength = "50", style = "width:150px" })</div>
        <div class="same_line" style="width:10px;color:Red">*</div>
    </div>

    <div class="group-in-a-line">
        <div class="same_line" style="width:80px;text-align:right;">&nbsp;&nbsp;新密码：&nbsp;&nbsp;</div>
        <div class="same_line" style="width:160px;">@Html.PasswordFor(m => m.NewPassword, new { @maxlength = "50", style = "width:150px" })</div>
        <div class="same_line" style="width:10px;color:Red">*</div>
    </div>
    <div class="group-in-a-line">
        <div class="same_line" style="width:80px;text-align:right;">&nbsp;&nbsp;确认密码：&nbsp;&nbsp;</div>
        <div class="same_line" style="width:160px;">@Html.PasswordFor(m => m.PasswordConfirm, new { @maxlength = "50", style = "width:150px" })</div>
        <div class="same_line" style="width:10px;color:Red">*</div>
    </div>
    <br />@Html.Raw("&nbsp;&nbsp;")
      <input type="submit" value="确认修改" name="btnChangePassword" class="button" /> @Html.Raw("&nbsp;&nbsp;&nbsp;")
      <input type="submit" value="重&nbsp;&nbsp;&nbsp;&nbsp;置" name="btnChangePasswordReset" class="button_reset" />
}