@model IPDetectServer.Web.Models.StatByAccountViewModel
@{
    ViewBag.Title = "按账号统计";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var strValidationSummary = string.Empty;
    var validationSummary = Html.ValidationSummary("", new { @class = "nolist" });
    if (validationSummary != null)
    {
        strValidationSummary = validationSummary.ToString();
    }
}
@using (@Html.BeginForm())
{
    <div class="content-grid">
        @Html.Hidden("_ViewState", (string)ViewBag.ViewState)
        <div class="content-title">
            &nbsp;按账号统计
        </div>
        <div class="list-error-message">
            @Html.Raw(strValidationSummary)
        </div>
        <hr class="mobile-form-content-splitor" />
        <div style="height: 28px; line-height: 28px">
            <div class="same_line" style="width: 80px;">
                @Html.RadioButtonFor(m => m.SelectedAllAccounts, true, new { @id = "SelectedAllAccounts", @checked = "checked" })所有账号：</div>
            <div class="same_line" style="width: 105px;">
                @Html.RadioButtonFor(m => m.SelectedAllAccounts, false, new { @id = "SelectedOneAccount" })输入指定账号：</div>
            <div class="same_line" style="width: 180px;">
                @Html.TextBoxFor(m => m.SelectedAccount, new { @maxlength = "100", style = "width:150px" })
            </div>
            <div class="same_line" style="width: 60px;">
                查询时间：</div>
            <div class="same_line" style="width: 80px;">@Html.TextBoxFor(m => m.SearchConditions["StartDate"], new { @class = "mobile-form-text-box" })</div>
            <div class="same_line" style="width: 15px;">
                至</div>
            <div class="same_line" style="width: 80px">@Html.TextBoxFor(m => m.SearchConditions["EndDate"], new { @class = "mobile-form-text-box" })</div>
            <div class="same_line">
                &nbsp;&nbsp;<input type="submit" value="查  询" name="btnStatByAccout" class="button_search" /></div>
        </div>
        <div style="height: 5px; line-height: 5px">
            &nbsp;</div>
        <input type="submit" id="btnSortInGrid" name="btnSortInGrid" style="display: none" />
        @Html.Hidden("hidSortFieldName", Request["hidSortFieldName"])
        @Html.Hidden("hidSortFieldOrderBy", Request["hidSortFieldOrderBy"])
        @Html.Hidden("hidGridSelectedIds", Request["hidGridSelectedIds"])
        @Html.HiddenFor(m => m.TotalRows)
        <table class="mobile-grid-tb-list">
            <tr>
                <th class="center" style="width: 120px;">
                    登录账号
                </th>
                <th class="center" style="width: 120px">
                    结果正常
                </th>
                <th class="center" style="width: 120px">
                    结果异常
                </th>
                <th class="center" style="width: 120px">
                    结果无法判断
                </th>
                <th class="center" style="width: 80px">
                    总计
                </th>
            </tr>
            @{if (Model != null && Model.DataList != null)
              {
                  int index = 0;
                  string className = "";
                  foreach (var item in Model.DataList)
                  {
                      if (index == Model.DataList.Count() - 1)
                      {
                          className = "last-row";
                      }
                <tr class="@className">
                    <td class="grid-limit" style="text-align: center; width: 120px"><a href="StatByAccount/OneAccount/@item.UserName">@item.UserName</a>
                    </td>
                    <td class="grid-limit" style="text-align: center; width: 120px">@item.StatusNormalCount
                    </td>
                    <td class="grid-limit" style="text-align: center; width: 120px">@item.StatusExceptionCount
                    </td>
                    <td class="grid-limit" style="text-align: center; width: 120px">@item.StatusUnknownCount
                    </td>
                    <td class="grid-limit" style="text-align: center; width: 80px">@item.Total
                    </td>
                </tr>
                      index++;
                  }
              }
            }
            @if (Model.TotalRows > Model.PageSize)
            {
                <tr class="pagination-row">
                    <td colspan="10" style="text-align: right;">
                        <div style="text-align: right">@IPDetectServer.Web.ControlHelper.PagingControl("btnPageNavigate", Model.TotalRows, Model.PageIndex, Model.PageSize)</div>
                    </td>
                </tr>
            }
        </table>
    </div>
}
